/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #06368f;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #06368f;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section_initial-container {
  display: none;
}


@media only screen and (min-width: 1024px){
  .section_initial-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 55rem;
    width: 55rem;
    margin: auto;
    border-radius: 0px 0px 100%;
    overflow: hidden;
    background: linear-gradient(to right, #c5c5c5, #fffdfc);
    z-index: -1;
  }

}


.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  overflow: hidden;
  border-radius: 50%;
}
.section__pic-container  img {
  --g:#0000 ,#000 .5deg 90deg,#0000 91deg;
  --m:
    conic-gradient(from 45deg ,var(--g)) 15px 0  no-repeat,
    conic-gradient(from 135deg,var(--g)) 0 15px  no-repeat,
    conic-gradient(from 225deg,var(--g)) -15px 0 no-repeat,
    conic-gradient(from 315deg,var(--g)) 0 -15px no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  transition: .3s linear;
  filter: grayscale(.2);
  cursor: pointer;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #000;
}

.section__pic-container  img:hover {
  -webkit-mask-position: 0 0;
          mask-position: 0 0;
  filter: grayscale(0);
  border: 0px !important;
  transform: scale(1.05);
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}


#skills {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 1.0rem;
  margin-top: 2rem;
}


.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  background-color: white;
  right: -5rem;
  bottom: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem; /* Adicionei um preenchimento para tornar o elemento clicável */
  cursor: pointer;
  filter: invert(100%);
  transition: filter 0.5s ease, transform 0.5s ease;
}

.arrow:hover {
  background-color: white;
  filter: invert(0%) !important;
  transform: rotate(360deg) translateY(1.5px);
}




.arrow-up {
  position: absolute;
  left: -5rem;
  bottom: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem; /* Adicionei um preenchimento para tornar o elemento clicável */
  cursor: pointer;
  filter: invert(100%);
  transition: filter 0.5s ease, transform 0.5s ease;
}

.arrow-up:hover {
  background-color: white;
  filter: invert(0%) !important;
  transform: rotate(360deg) translateY(-1.5px);  
}

.details-container {
  padding: 1.0rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 99999;
}

.projects-container {
  text-align:justify;
  font-size: 0.95rem;
  margin: 0.5rem;

}

.details-container:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.01);

}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
  border-radius: 50%;
  overflow: hidden;
  
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.experience-sub-title2 {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.experience-details-container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.1rem;
  
}
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
  filter: grayscale(0%);
}

article .icon:hover {
  filter: grayscale(100%);
}
/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 0.1rem;
  color: black;
  
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.experience-details-container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.1rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
  filter: grayscale(0%);
}

article .icon:hover {
  filter: grayscale(100%);
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 0.1rem;
  color: black;
  
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.git-icon {
  cursor: pointer;
  height: 2.5rem;
  padding: 2px;
  transition: transform 0.3s ease, filter 0.3s ease; /* Adicionei transições para transform e filter */
}

.git-icon:hover {
  transform: scale(1.15); /* Aumenta o tamanho em 10% */
  filter: invert(50%) sepia(1000%) saturate(10000%)  !important; /* Ajuste o hue-rotate e remova o invert */}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 21vh;
  margin-top:-7rem;
  margin-bottom: 0 1rem;;
}

footer p {
  text-align: center;
}



/*  My Resume */


.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3b434a;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #06368f;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #eef0f2;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 5px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #82909c;
}


/* MEDIA QUERIES */


.instagram:hover {
  color: #e1306c;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #e1306c;
  font-size: 18px;
  

}

.linkedin:hover {
  color: #0a66c2;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #0a66c2;
  font-size: 18px;


}

.github:hover {
  color: #572929;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #572929;
  font-size: 18px;

}

.mail:hover {
  color: #d44638;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #d44638;
  font-size: 18px;

}

@media only screen and (max-width: 767px) {
  .arrow-container {
    display: none;
  }
}

@media screen and (min-width: 768px){

  .arrow-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 7rem; 
    color: #000000;
    cursor: pointer;
    color: #06368f;
    text-decoration: none !important;
    animation: moveUpDown 1s infinite alternate;
  }
  @keyframes moveUpDown {
    0% {
      transform:translateX(-50%) translateY(0%) rotate(90deg);
    }
  
    100% {
      transform: translateX(-50%) translateY(-20%) rotate(90deg);
    }
  }
  
  .arrow-container:hover {
    color: #fd264f;
  }
}


hr {
  border: none;
  height: 1px;
  background-color: #82909c;
  margin: 0.5rem 0;
}



.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  overflow: visible; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1em;
    padding: 0.5rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #06368f; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 1px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: -0.5rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .tabs .tab-2 {
        width: 50%; }
        .tabs .tab-2 [type="radio"] + div {
          width: 200%;
          margin-left: 200%; }
        .tabs .tab-2 [type="radio"]:checked + div {
          margin-left: 0; }
        .tabs .tab-2:last-child [type="radio"] + div {
          margin-left: 100%; }
        .tabs .tab-2:last-child [type="radio"]:checked + div {
          margin-left: -100%; }